li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: lightgray;
  border-radius: 3px 3px;
  width: 250px;
  height: 40px;

}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px darkgray;
  text-align: center;
}

select option {
    background-color:#ffe9ec;
    text-align: center;
}

form {
  width: 600px;
  height: 500px;
text-align: center;
margin-right: 0px;
}

#label {
  width: 300px;
  height: 30px;
  text-align: center;
  margin-left: -30px;
  display: inline-block;
}


/* select option[selected] {
  background-color: yellow;
  this doesn't work!
} */

h2 {
  font-family: 'Black Han Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
  text-shadow: 1px 1px 1px lightgray;
}

div {
font-family: 'Josefin Sans', sans-serif;

}

select {
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: auto;
  margin: 10px;
  border:1px solid pink;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

#wrapper {
  background: linear-gradient(white, #ffcc99);
  padding: 20px;
}
