#gmap {
    width: 400px;
    height: 400px;
    border: 1px solid orange;
    margin-left: 250px;
    display: inline-block;
}

#border {
  border: 2px dashed lightpink;
  width: 850px;
  height: 450px;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px darkgray;
  text-align: center;
}
#barInfo {
  display: inline-block;
  width: 400px;
  height: 400px;
  border: 1px solid orange;
}
