
<div style="text-align:center">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="border">

  <!-- this div will hold your map -->
<div #gmap id="gmap"></div>

<h4> Find me a frose in  {{theseBars}}{{bar1}} {{drink.city}} with {{drink.ingred}} for no more than {{drink.price}} </h4>

<h5> {{theseBars[0].name}}</h5>
</div>

<div id="info_div"></div>

<form class="form-inline" #form="ngForm" (ngSubmit)="setCenter($event)" ac>
  <div class="form-group">
    <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Go</button>
</form>

</div>
